.rogue-trader.sheet.actor .advances {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

/* HEADER */

.rogue-trader.sheet.actor .advances .metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  align-items: flex-end;
}

.rogue-trader.sheet.actor .advances .metadata .tier,
.rogue-trader.sheet.actor .advances .metadata .rank,
.rogue-trader.sheet.actor .advances .metadata .species {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(20% - 8px);
  text-align: center;
  align-items: baseline;
  margin-right: 8px;
}

.rogue-trader.sheet.actor .advances .metadata .tier .name,
.rogue-trader.sheet.actor .advances .metadata .rank .name,
.rogue-trader.sheet.actor .advances .metadata .species .name {
  flex-basis: 57%;
  cursor: default;
}

.rogue-trader.sheet.actor .advances .metadata .tier .current,
.rogue-trader.sheet.actor .advances .metadata .rank .current,
.rogue-trader.sheet.actor .advances .metadata .species .cost {
  flex-basis: 43%;
}

.rogue-trader.sheet.actor .advances .metadata .experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 40%;
  text-align: center;
  align-items: baseline;
}

.rogue-trader.sheet.actor .advances .metadata .experience .header,
.rogue-trader.sheet.actor .advances .metadata .experience .data {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  text-align: center;
  align-items: baseline;
}

.rogue-trader.sheet.actor .advances .metadata .experience .data {
  margin-top: 4px;
}

.rogue-trader.sheet.actor .advances .metadata .experience .header .name,
.rogue-trader.sheet.actor .advances .metadata .experience .data .name {
  flex-basis: 40%;
  cursor: default;
}

.rogue-trader.sheet.actor .advances .metadata .experience .header .current,
.rogue-trader.sheet.actor .advances .metadata .experience .data .current,
.rogue-trader.sheet.actor .advances .metadata .experience .header .spent,
.rogue-trader.sheet.actor .advances .metadata .experience .data .spent,
.rogue-trader.sheet.actor .advances .metadata .experience .header .total,
.rogue-trader.sheet.actor .advances .metadata .experience .data .total {
  flex-basis: 20%;
}

/* BODY */

.rogue-trader.sheet.actor .advances .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
  margin-top: 8px;
  flex: 1
}

.rogue-trader.sheet.actor .advances .wrapper .header {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  text-align: center;
}

.rogue-trader.sheet.actor .advances .wrapper.attributes .header,
.rogue-trader.sheet.actor .advances .wrapper.skills .header {
  margin-left: -4px;
}

.rogue-trader.sheet.actor .advances .wrapper.talents .header,
.rogue-trader.sheet.actor .advances .wrapper.abilities .header,
.rogue-trader.sheet.actor .advances .wrapper.psychic-power .header,
.rogue-trader.sheet.actor .advances .wrapper.ascension .header {
  margin-left: -13px;
}

.rogue-trader.sheet.actor .advances .wrapper .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  overflow-y: scroll;
  margin-top: 4px;
  align-content: baseline;
}

.rogue-trader.sheet.actor .advances .wrapper .items .item {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin: 2px 0;
  text-align: center;
  align-items: baseline;
}

.rogue-trader.sheet.actor .advances .wrapper .items .item:first-child {
  margin-top: 0;
}

.rogue-trader.sheet.actor .advances .wrapper .header .name,
.rogue-trader.sheet.actor .advances .wrapper .items .item .name {
  flex-basis: 60%;
  cursor: default;
}

.rogue-trader.sheet.actor .advances .wrapper .header .item-name {
  margin-left: 3px;
}

.rogue-trader.sheet.actor .advances .wrapper .header .item-name,
.rogue-trader.sheet.actor .advances .wrapper .items .item .item-name {
  flex-basis: 73%;
  text-align: center;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rogue-trader.sheet.actor .advances .wrapper .header .rating,
.rogue-trader.sheet.actor .advances .wrapper .items .item .rating {
  flex-basis: 20%;
  text-align: center;
}

.rogue-trader.sheet.actor .advances .wrapper .header .cost,
.rogue-trader.sheet.actor .advances .wrapper .items .item .cost {
  flex-basis: 20%;
  text-align: center;
}

.rogue-trader.sheet.actor .advances .wrapper .header .button,
.rogue-trader.sheet.actor .advances .wrapper .items .item .button {
  flex-basis: 7%;
  text-align: center;
}