.rogue-trader.sheet.actor .tab[data-tab="combat"] h1 {
  width: 200px;
}


.rogue-trader.sheet.actor .combat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.rogue-trader.sheet.actor .combat .wrapper {
  display: flex;
  flex-direction: column;
}

.rogue-trader.sheet.actor .combat .wrapper.general,
.rogue-trader.sheet.actor .combat .wrapper.injuries,
.rogue-trader.sheet.actor .combat .wrapper.mutation {
  flex: 1;
  margin-right: 8px;
}

.rogue-trader.sheet.actor .combat .wrapper.wargear {
  flex-basis: 100%;
  margin-top: 8px;
  pointer-events:none;
}

.rogue-trader.sheet.actor .combat .wrapper-item.faith {
  display: flex;
  flex-direction: row;
  margin-bottom: -33px;
}

.rogue-trader.sheet.actor .combat .wrapper .wrapper-item {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.rogue-trader.sheet.actor .combat .wrapper .wrapper-item label {
  flex: 2;
}

.rogue-trader.sheet.actor .combat .wrapper .wrapper-item .input-group,
.rogue-trader.sheet.actor .combat .wrapper .wrapper-item input,
.rogue-trader.sheet.actor .combat .wrapper .wrapper-item select {
  flex: 1
}

.rogue-trader.sheet.actor .combat .wrapper .wrapper-item .input-group {
  display: flex;
}

/* INJURIES */

.rogue-trader.sheet.actor .combat .wrapper .injury-lists {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 165px;
  overflow-y: auto;
}

/* MUTATION */

.rogue-trader.sheet.actor .combat .wrapper .mutations {
  max-height: 130px;
  overflow-y: auto;
}

.rogue-trader.sheet.actor .combat .wrapper .injury-lists .item-list,
.rogue-trader.sheet.actor .combat .wrapper .mutations .item-list {
  margin-top: 2px;
}



.rogue-trader.sheet.actor .combat .wrapper.wargear {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  width: 100%;
  align-items: center;
}


