.rogue-trader.sheet.actor .tab[data-tab="stats"] h1 {
  align-self: center;
}

.rogue-trader.sheet.actor .stats .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* ATTRIBUTES */

.rogue-trader.sheet.actor .stats .wrapper .attributes {
  display: flex;
  margin-top: 8px;
}

.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute {
  display: flex;
  flex-direction: column;
  margin: 0 4px;
  flex: 1
}

.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute .attribute-inputs{
  display: flex;
}

.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute .attribute-inputs .attribute-input-stack{
  display: flex;
  flex-direction: column;
}


.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute .attribute-inputs > *{
  flex: 1;
}



.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute .fake-input,
.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute input {
  border: 1px solid var(--color-black);
  border-top: 0 none;
  height: unset;
  width: 100%
}

.rogue-trader.sheet.actor .stats .wrapper   .fake-input {
  padding-top: 5px;
}

/* SKILLS */

.rogue-trader.sheet.actor .stats .wrapper .skills {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.rogue-trader.sheet.actor .stats .wrapper .skills >*{
  display: flex;
  flex-direction: column;
  flex: 1
}

.rogue-trader.sheet.actor .stats .wrapper .skills .left {
  margin-right: 4px;
}
.rogue-trader.sheet.actor .stats .wrapper .skills .right {
  margin-left: 4px;
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill .skill-inputs {
  display: flex;
  flex:1
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill .skill-inputs > *{
  flex: 1
}

.rogue-trader.sheet.actor .stats .wrapper .attributes .attribute .attribute-inputs .total,
  .rogue-trader.sheet.actor .stats .wrapper .skills .skill .skill-inputs .total{
  color: var(--color-imperium)
}


.rogue-trader.sheet.actor .stats .wrapper .skills .skill:last-child {
  margin-bottom: 0;
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill label {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill label > span {
  opacity : 0.5;
  flex: 0 0 40px;
}

.rogue-trader.sheet.actor .stats .wrapper .skills .skill .fake-input,
  .rogue-trader.sheet.actor .stats .wrapper .skills .skill input {
  flex: 1;
}


.rogue-trader.sheet.actor .stats .adv-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -23px;
}

.rogue-trader.sheet.actor .stats .adv-buttons button {
  flex: 0 0 25px;
  margin: 0px;
}

.rogue-trader.actor .fake-input button{
    line-height: 27px;
    box-shadow: none;
    background-color: var(--color-red);
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0px;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.rogue-trader.actor .fake-input button.rm-right-border{
  border-right: none
}


.rogue-trader.actor .fake-input button.rm-left-morder{
  border-left: none
}

.rogue-trader.actor .fake-input button.rm-top-border{
  border-top: none
}


.rogue-trader.actor .fake-input button.rm-bottom-morder{
  border-bottom: none
}

