.rogue-trader.sheet.actor .tab[data-tab="talents"] {
  height: 100%
}

.rogue-trader.sheet.actor .talents {
  display: flex;
  flex-direction: column;
}

.rogue-trader.sheet.actor .tab[data-tab="talents"] h1 {
  width: 280px;
}

.rogue-trader.sheet.actor .talents .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rogue-trader.sheet.actor .talents .wrapper.powers {
  margin-top: 8px
}